
[data-v-cloak] { display: none }

#header {
    padding: 10px;
}

#title {
    font-size: x-large;
    font-weight: bold;
    color: rgb(78, 190, 221);
    display: inline-block;
    padding: 0 10px 0 0;
}

.table tbody>tr>td {
    vertical-align: middle;
}

.drink_count {
    text-align: right;
}

#drink_table {
    /*padding: 20px;
    margin: 20px;*/
}

.btn-drink {
    background: rgb(78, 190, 221);
    color: #ffffff;
}
.btn-drink:hover, .btn-drink:focus, .btn-drink:active {
    background: rgb(58, 180, 204);
    color: #ffffff;
}


/*
.pure-button-twitter {
    color: #ffffff;
    padding: 0.2em 0.5em;
    background: rgb(66, 184, 221);
}*/




#operate {
    margin: 20px;
}

.drink_name {
    font-weight: bold;
    padding: 10px 20px;
}

.drink_count {
    padding: 10px 20px;
}

.pure-button-drink {
    background: rgb(78, 190, 221);
    margin: 10px;
}

.reset-drink-count {
    color: #1111cc;
    font-size: small;
}
