<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <title>drink it ! - 飲んだものを記録しよう -</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="./static/css/c3.min.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/index_style.css" />
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-body">
            <span id="title">drink it!</span> logging drink : 飲んだものを記録しよう
            <span class="pull-right"> {{ loginout|safe }} </span>
        </div>
    </div>

    <div id="stat-graph" data-v-if="show_graph_flag">
        (% name_graph_displayed %) [30 days]　<span data-v-show="graph_loading_flag">読み込み中</span>
        <button data-v-on="click: hide_graph">閉じる</button>
        <div data-v-pre>
            <div id="drink-chart"></div>
        </div>
    </div>

    <div class="container">
        <table class="table" id="drink_table" data-v-cloak >
            <thead>
                <tr><td>飲み物</td><td>飲んだ回数</td><td></td><td></td></tr>
            </thead>
            <tbody>
                <tr data-v-repeat="drink_list | orderBy 'index'">
                    <td class="drink_name">(% name %)</td>
                    <td class="drink_count">(% count %)</td>
                    <td><button class="btn btn-drink" data-v-on="click: inc_drink_count(this);">1 杯</button></td>
                    <td><a data-v-on="click: show_graph(this);">グラフ</a></td>
                    <td><a class="small-text-link" data-v-on="click: dec_drink_count(this);">1杯もどす</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="operate" class="form-inline">
        <div class="form-group">
            <label class="control-label">飲み物の追加</label>
            <input type=text class="form-control" id="add_input" placeholder="飲み物を入力"
                data-v-on="keypress: enter_add_drint_input"/>
            <button class="btn btn-drink" data-v-on="click: add_new_drink">追加</button>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="./static/js/d3.min.js"></script>
    <script src="./static/js/c3.min.js"></script>
    <script src="./static/js/vue.js">javascriptを有効にしてください</script>
    <script>
        function draw_drink_stat_graph(columns) {
            var chart = c3.generate({
                bindto: '#drink-chart',
                data: {
                    x: "x",
                    columns: columns,
                    types: { count: "line", },
                },
                axis: {
                    x: {
                        type: "timeseries",
                        tick: { format: "%Y-%m-%d" }
                    }
                },
                onrendered: function() {
                    vm.$data.graph_loading_flag = false;
                }
            });
        }

        Vue.config.prefix = "data-v-";
        Vue.config.delimiters = ['(%', '%)'];
        var vm = new Vue({
            el: "body",
            data: {
                show_graph_flag: false,
                graph_loading_flag: false,
                name_graph_displayed: "",
                login_flag: false,
                drink_list: []
            },
            ready: function() {
                var self = this;
                $.ajax({
                    type: "GET",
                    url: "api/all_drink_list",
                }).done(function(data) {
                    init_list = JSON.parse(data)
                    for (var i = 0; i < init_list.length; i++) {
                        self.$data.drink_list.push(init_list[i]);
                    }
                }).fail(function(data) {
                    alert("なんかエラーです。すんません。");
                });
            },
            methods: {
                show_graph: function(drink) {
                    var self = this;
                    this.show_graph_flag = true;
                    this.graph_loading_flag = true;
                    this.name_graph_displayed = drink.name;

                    var drink_id = drink.drink_id;

                    $.ajax({
                        type: "GET",
                        url: "api/" + drink_id + "/stat",
                    }).done(function(data) {
                        console.log("api/1/stat ==\n" + data);
                        draw_drink_stat_graph(JSON.parse(data));
                    }).fail(function(data) {
                        self.show_graph_flag = false;
                        self.graph_loading_flag = false;
                        alert("なんかエラーです。すんません。");
                    });
                },
                hide_graph: function() {
                    this.show_graph_flag = false;
                },

                enter_add_drint_input: function(e) {
                    if (e.which === 13) {
                        this.add_new_drink();
                    }
                },
                _update_drink_count: function(drink, count) {
                    if (count == 0) { return; }
                    else if (drink.count <= 0 && count < 0) { return; }
                    else if (count > drink.count) {
                        count = count - drink.count;
                    }
                    drink.count += count;
                    $.ajax({
                        type: "PUT",
                        url: "api/drink/" + drink.drink_id,
                        data: "update_count=" + ("" + count)
                    }).done(function(data) {
                        console.log(data);
                    }).fail(function(data) {
                        alert("なんかエラーです。すんません。");
                        drink.count -= count;
                    });
                },
                inc_drink_count: function(drink) {
                    this._update_drink_count(drink, 1);
                },
                dec_drink_count: function(drink) {
                    this._update_drink_count(drink, -1);
                },

                add_new_drink: function() {
                    var drink_name = validate_drink_name($("#add_input").val());
                    if (!drink_name) { return; }
                    console.log(drink_name);
                    var data = {drink_name: drink_name};

                    var self = this;
                    $.ajax({
                        type: "POST", url: "api/add_new_drink",
                        data: data,
                    }).done(function(ret, status, xhr) {
                        if (xhr.status === 200) {
                            $("#add_input").val("");
                            console.log(ret.status);
                            console.log(ret.name);
                            if (ret.status == "added") {
                                self.drink_list.push({
                                    name: ret.name,
                                    count: 0,
                                    index: ret.index,
                                    drink_id: ret.drink_id
                                });
                            }
                        }
                    }).fail(function(xhr) {
                        if (xhr.status === 403) {
                            alert("ログインしてください。");
                        } else {
                            alert("なんかエラーです。すんません。");
                        }
                    });
                },
            },
        });

    </script>
</body>
</html>
