<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <title>drink it ! - 飲んだものを記録しよう -</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index_style.css') }}" />
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-body">
            <span id="title">drink it!</span> logging drink : 飲んだものを記録しよう
            <span class="pull-right"> {{ loginout|safe }} </span>
        </div>
    </div>

    <div class="container">
        <table class="table" id="drink_table" data-v-cloak >
            <thead>
                <tr><td>飲み物</td><td>飲んだ回数</td><td></td><td></td></tr>
            </thead>
            <tbody>
                <tr data-v-repeat="drink_list | orderBy 'index'">
                    <td class="drink_name">(% name %)</td>
                    <td class="drink_count">(% count %)</td>
                    <td>
                        <button class="btn btn-primary" data-v-on="click: inc_drink(this)">1 杯</button>
                    </td>
                    <td>
                        <a class="reset-drink-count" data-v-on="click: dec_drink(this);">もどす</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="operate">
        飲み物の追加<br/>
        <input type=text id="add_input" data-v-on="keypress: enter_add_drint_input"/>
        <button data-v-on="click: add_drink">追加</button>
    </div>
    <div id="rights"></div>

    <!--<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="{{ url_for('static', filename='js/vue.js') }}">javascriptを有効にしてください</script>
    <script>
        function validate_drink_name(name) {
            name = name.replace(/^[\s　]+|[\s　]+$/g, "");
            name = name.replace(/[<>/]/g, "");
            return name
        }

        Vue.config.prefix = "data-v-";
        Vue.config.delimiters = ['(%', '%)'];
        var vm = new Vue({
            el: "body",
            data: {
                login_flag: false,
                drink_list:
                {{ initial_list|safe }}
            },
            methods: {
                enter_add_drint_input: function(e) {
                    if (e.which === 13) {
                        this.add_drink();
                    }
                },
                _update_drink_count: function(drink, count) {
                    if (count == 0) { return; }
                    else if (drink.count <= 0 && count < 0) { return; }
                    else if (count > drink.count) {
                        count = count - drink.count;
                    }
                    drink.count += count;
                    $.ajax({
                        type: "PUT",
                        url: "api/drink/" + validate_drink_name(drink.name),
                        data: "update_count=" + ("" + count)
                    }).done(function(data) {
                        console.log(data);
                    }).fail(function(data) {
                        alert("なんかエラーです。すんません。");
                        drink.count -= count;
                    });
                },
                inc_drink: function(drink) {
                    this._update_drink_count(drink, 1);
                },
                dec_drink: function(drink) {
                    this._update_drink_count(drink, -1);
                },

                add_drink: function() {
                    var dom = $("#add_input");
                    var drink_name = validate_drink_name(dom.val());
                    if (!drink_name) { return; }

                    var data = {drink_name: drink_name};

                    var self = this;
                    $.ajax({
                        type: "POST",
                        url: "api/add_drink",
                        data: data,
                    }).done(function(ret, status, xhr) {
                        if (xhr.status === 200) {
                            dom.val("");
                            console.log(ret.status);
                            console.log(ret.name);
                            if (ret.status == "added") {
                                self.drink_list.push({name:ret.name, count: 0, index: ret.index})
                            }
                        }
                    }).fail(function(xhr) {
                        if (xhr.status === 403) {
                            alert("ログインしてください。");
                        } else {
                            alert("なんかエラーです。すんません。");
                        }
                    });
                },
            },
        });
    </script>
</body>
</html>
